# binary files
1-basics/01-hello-world/hello-world

1-basics/02-variables/declaring-vars
1-basics/02-variables/var-types-int
1-basics/02-variables/var-types-float-and-boolean
1-basics/02-variables/var-types-string
1-basics/02-variables/string-methods
1-basics/02-variables/var-types-constants
1-basics/02-variables/regex
1-basics/02-variables/casting
1-basics/02-variables/null_type
1-basics/02-variables/global-var
1-basics/02-variables/array
1-basics/02-variables/enum

1-basics/03-slices-dictionary-list-hash/difference-array-slice
1-basics/03-slices-dictionary-list-hash/maps
1-basics/03-slices-dictionary-list-hash/list-queue-stack

1-basics/04-byte-and-bit-handlings/bytes
1-basics/04-byte-and-bit-handling/convert-uppercase
1-basics/04-byte-and-bit-handling/cesar-cypher
1-basics/04-byte-and-bit-handling/bit-manipulation
1-basics/04-byte-and-bit-handling/bit-manipulation-cypher
1-basics/04-byte-and-bit-handling/hexa-octo-decimal

1-basics/05-time-handling/time

2-not-so-basic/02-pointers/pointer-function-params
2-not-so-basic/02-pointers/read-memory-loc