# binary files
1-basics/01-hello-world/hello-world

1-basics/02-variables/declaring-vars
1-basics/02-variables/var-types-int
1-basics/02-variables/var-types-float-and-boolean
1-basics/02-variables/var-types-string
1-basics/02-variables/string-methods
1-basics/02-variables/var-types-constants
1-basics/02-variables/regex
1-basics/02-variables/casting
1-basics/02-variables/null_type
1-basics/02-variables/global-var
1-basics/02-variables/array
1-basics/02-variables/enum

1-basics/03-slices-dictionary-list-hash/difference-array-slice
1-basics/03-slices-dictionary-list-hash/maps
1-basics/03-slices-dictionary-list-hash/list-queue-stack

1-basics/04-byte-and-bit-handlings/bytes
1-basics/04-byte-and-bit-handling/convert-uppercase
1-basics/04-byte-and-bit-handling/cesar-cypher
1-basics/04-byte-and-bit-handling/bit-manipulation
1-basics/04-byte-and-bit-handling/bit-manipulation-cypher
1-basics/04-byte-and-bit-handling/hexa-octo-decimal

1-basics/05-time-handling/create-format-parse
1-basics/05-time-handling/time-comparison

1-basics/06-conditionals-loops/if-else
1-basics/06-conditionals-loops/comparing-statements
1-basics/06-conditionals-loops/switch-case
1-basics/06-conditionals-loops/for-while
1-basics/06-conditionals-loops/range

1-basics/07-functions/function-syntax
1-basics/07-functions/many-return-functions
1-basics/07-functions/reference
1-basics/07-functions/recursion
1-basics/07-functions/math

1-basics/08-input/read-from-keyboard
1-basics/08-input/argc-argv

2-not-so-basic/01-structs/struct-syntax
2-not-so-basic/01-structs/type-features
2-not-so-basic/01-structs/structs-and-function
2-not-so-basic/01-structs/struct-size
2-not-so-basic/01-structs/convert-struct-to-json

2-not-so-basic/02-struct-as-class/structs-as-class
2-not-so-basic/02-struct-as-class/methods-in-strutcs
2-not-so-basic/02-struct-as-class/inheritance
2-not-so-basic/02-struct-as-class/public-and-private
2-not-so-basic/02-struct-as-class/interface
2-not-so-basic/02-struct-as-class/interface-2
2-not-so-basic/02-struct-as-class/interface-basic
2-not-so-basic/02-struct-as-class/dependency-injection
2-not-so-basic/02-struct-as-class/dependency-injection2

2-not-so-basic/03-pointers/read-memory-loc
2-not-so-basic/03-pointers/weak-pointer
2-not-so-basic/03-pointers/pointer-function-params
2-not-so-basic/03-pointers/pointers-with-struct
2-not-so-basic/03-pointers/function-as-var
2-not-so-basic/03-pointers/stack-overflow
2-not-so-basic/03-pointers/new-and-make


2-not-so-basic/04-files/0-open/open-close
2-not-so-basic/04-files/0-open/file-size
2-not-so-basic/04-files/0-open/create-file
2-not-so-basic/04-files/0-open/rename-file
2-not-so-basic/04-files/0-open/newfoo.txt
2-not-so-basic/04-files/0-open/new-name.txt
2-not-so-basic/04-files/0-open/directory

2-not-so-basic/04-files/1-read/read-entire-file
2-not-so-basic/04-files/1-read/read-part-file
2-not-so-basic/04-files/1-read/read-lines
2-not-so-basic/04-files/1-read/exploring-scanner-reader
2-not-so-basic/04-files/1-read/difference-scanner-reader
2-not-so-basic/04-files/1-read/read-log

2-not-so-basic/04-files/2-write/write-new-file
2-not-so-basic/04-files/2-write/overwrite-file
2-not-so-basic/04-files/2-write/write-begin-dumb
2-not-so-basic/04-files/2-write/write-begin-smart
2-not-so-basic/04-files/2-write/write-end
2-not-so-basic/04-files/2-write/new-file.txt
2-not-so-basic/04-files/2-write/new-file2.txt
2-not-so-basic/04-files/2-write/new-write-begin.txt
2-not-so-basic/04-files/2-write/write-middle

2-not-so-basic/04-files/3-json/convert-json-to-struct
2-not-so-basic/04-files/3-json/convert-struct-to-json

2-not-so-basic/04-files/4-csv/convert-struct-to-csv
2-not-so-basic/04-files/4-csv/people-sheet.csv
2-not-so-basic/04-files/4-csv/convert-csv-to-struct
2-not-so-basic/04-files/4-csv/read-lib
2-not-so-basic/04-files/4-csv/write-lib
2-not-so-basic/04-files/4-csv/write-lib.csv

2-not-so-basic/05-imports/01-first-package/main
2-not-so-basic/05-imports/02-package-with-many-files/main
2-not-so-basic/05-imports/03-public-and-private/main
2-not-so-basic/05-imports/04-first-module/main
2-not-so-basic/05-imports/05-import-self-made-component/main

2-not-so-basic/05-imports/06-library/main

3-intermediate/internet/downloaded-pdf.pdf
3-intermediate/internet/list-ubs
3-intermediate/internet/download-file
3-intermediate/internet/crawler
3-intermediate/internet/json-http